body {
  background-color: #ffd;
}

.box {
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  text-align: center;
  border: 1px solid black;
  max-height: 50px;
  max-width: 50px;
  min-height: 50px;
  min-width: 50px;
}

.selected {
  background-color: #9f9;
}

.fixed {
  color: gray;
}

.invalid {
  background-color: #f88;
  font-weight: bold;
}

.text {
  display: inline-block;
  line-height: 50px;
  vertical-align: middle;
}

.square-right {
  border-right: 4px solid #333;
}

.square-bottom {
  border-bottom: 4px solid #333;
}

#board {
  height: 450px;
}

#controls {
  position: absolute;
  top: 460px;
}

.blurred {
  -webkit-filter: grayscale(0.8) blur(6px);
}
